* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
}
.content {
	width: 100%;
	padding-top: 12.5%;
}
.content__container {
	max-width: 800px;
	margin: 0 auto;
	/*background: #000;*/
}
.content__title {
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(to right, red, yellow, blue);
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
}
.content__text {
	font-size: 20px;
	color: aqua;
	letter-spacing: 1px;
	margin-bottom: 100px;
}
.content__block {
	margin: 0 auto;
	width: 200px;
	height: 100px;
	background: red;
}
